@import './variables.scss';
@import './reset.scss';
@import './splash/splash.scss';
@import './splash/splash-first-page.scss';
@import "./splash/splash_navbar.scss";

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts//Manrope-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts//Manrope-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

#root {
    background-color: $background-color;
    font-family: $default-font;
    position: absolute; 
    left: 0; 
    right: 0; 
    height: 100%;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

#root::-webkit-scrollbar {
    display: none;
}

.hide { 
    visibility: hidden;
    opacity: 0;
    display: none;
}

.loading-container img {
    filter: brightness(0)
}