@import './variables.scss';
@import './reset.scss';
@import './splash/splash.scss';
@import './splash/splash-first-page.scss';
@import "./splash/splash_navbar.scss";
@import "./session_form/session-form.scss";
@import './nav/nav.scss';
@import './rooms/rooms.scss';
@import './rooms/room_options.scss';
@import './rooms/room_form.scss';
@import './search_bar/search_bar.scss';
@import "./problems/problems.scss";
@import './rooms/room_form.scss';
@import './rooms/confirmation_modal.scss';
@import "./problems//problems_form.scss";

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts//Manrope-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts//Manrope-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

#root {
    background-color: $background-color;
    font-family: $default-font;
    position: absolute; 
    left: 0; 
    right: 0; 
    height: 100%;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    a {
        text-decoration: none;
    }

    > div {
        height: 100%;
        width: 100%;
    }
}

#root::-webkit-scrollbar {
    display: none;
}

.hide { 
    visibility: hidden;
    opacity: 0;
    display: none;
}

.loading-container {
    height: 100%;
    width: 100%;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        filter: invert(100)
    }
}