$background-color: #353941;
$default-black: #26282B;
$default-blue: #5F85DB;
$default-lightblue: #90B8F8;
$default-font: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
$logo-font: "Manrope";
$logo-font-weight: 700;
$logo-font-size: 40px;
$logo-font-color: white;
$default-white: #fff;
