@import '../variables.scss';

.progress-tracker-container {
    position: fixed;
    right: 40px;
    top: 40px;
    height: 100px;
    width: 190px;
    
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    animation: bouncing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.progress-tracker-icon {
    cursor: pointer;
    z-index: 300;
    height: 80px;
    width: 80px;
    background-color: $default-white;
    border-radius: 50%;
    box-shadow: $box-shadow;
    margin-left: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    img {
        height: 100px;
        border-radius: 50%;
    }
}

@keyframes bouncing {
    0% {transform: translateY(0)}
    20% {transform: translateY(0);}
    50% {transform: translateY(0);}
    40% {transform: translateY(-10px);} 
    60% {transform: translateY(-20px);} 
    80% {transform: translateY(0px);} 
    100% {transform: translateY(0);} 
}

.progress-tracker-modal {
    height: 700px;
    width: 700px;
    background-color: $background-color;
    border-radius: $div-border-radius;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: $box-shadow
}

.progress-tracker-label {
    font-size: 12px;
    color: $default-white;
    background-color: $default-blue;
    text-align: center;
    height: 60px;
    width: 90px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $button-border-radius;

    div {
        width: 80%;
    }
}

.progress-tracker-label:after {
    content:'';
    position: absolute;
    rotate: (270deg);
    margin-left: 100px;
    width: 0;
    height: 0;
    border-top: solid 10px $default-blue;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.progress-label {
    width: 100%;
    font-family: $logo-font; 
    color: $default-white;
    font-weight: $logo-font-weight;
    font-size: $logo-font-size;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-grids-container {
    height: 80%;
    width: 90%;
    margin-left: 30px;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.grid-key {
    margin-top: 20px;
    margin-bottom: -30px;
    height: 20px;
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 12px;
    font-weight: normal;
    font-family: $default-font;
}




