@import "../variables.scss";

.problems-page{
    height: 100%;
    width: calc(100% - 300px);
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.problems-page > :first-child{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.problems-page h1{
    margin-left: 130px;
    font-size: 40px;
    color: $default-white;
    font-weight: $bold;
}

.problems-page h1 + p{
    margin-left: 130px;
    color: $default-white;
}

.problems-page h1 + p:hover{
    cursor: pointer;
    color: $default-lightblue;
    text-decoration: underline;
}

.problems-container{
    height: 75%;
    width: 80%;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
}

.select-problems{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.leetcode-75, .your-problems{
    width: 50%;
    background-color: $default-lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.leetcode-75:hover, .your-problems:hover{
    cursor: pointer;
    filter: brightness(1.1);
}

.your-problems{
    background-color: $default-blue;
    justify-content: space-between;
}

.seeded-problems-index, .custom-problems-index{
    background-color: $default-lightblue;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    overflow: scroll;
}

.custom-problems-index{
    background-color: $default-blue;

}

.problems-list, .custom-problems-list{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problems-list > div, .custom-problems-list > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    background-color: $default-lightblue;
    border-radius: 25px;
    padding: 10px 20px;
}

.custom-problems-list > div{
    background-color: $default-blue;
}

.problems-list > div:hover, .custom-problems-list >div:hover{
    cursor: pointer;
    filter: brightness(0.8);
}

.problems-list > div > div, .custom-problems-list > div > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.problems-list hr, .custom-problems-list hr{
    position: relative;
    width: 90%;
    margin-bottom: -10px;
}

.problems-checkbox{
    border: none;
    height: 30px;
    width: 30px;
}

.problems-checkbox + p{
    text-indent: 10px;
    font-size: 20px;
}

.edit-problems{
    height: 50px;
    width: 50px;
}

.your-problems > :first-child{
    margin-left: 20px;
}

.your-problems > :last-child{
    margin-right: 20px;
    border-radius: 50%;
    filter: invert(100);
}

.your-problems > :last-child:hover{
    background-color: $default-lightblue;
    filter: invert(0);
}