@import "../variables.scss";

.create-problems-form {
    background-color: $default-lightgray;
    color: $default-white;
    width: 600px;
    height: 70%;
    border-radius: $div-border-radius;
    box-shadow: $box-shadow;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-problem-title {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 100px;
    font-weight: $logo-font-weight;
    font-size: $logo-font-size;
}

.create-problems-form > form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    input, textarea {
        outline: 0;
        border: 3px solid $default-lightblue;
        border-radius: 8px;
        resize: none;
        font-family: $default-font;
        margin-top: 10px;
        padding-left: 10px;
    }

    input {
        height: 30px;
        width: 95%;
    }

    textarea {
        padding-top: 8px;
        height: 35px;
        width: 95%;
        margin-bottom: 10px;;
    }
}

.create-problems-form label{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
    font-size: 14px;
    text-indent: 10px;

    p.problems-errors{
        margin-top: 5px;
    }
}

.problem.button {
    height: 40px;
    font-weight: $bold;
    font-size: 15px;
    width: 200px;
    border: none;
    margin-bottom: 10px;

    &:hover {
        filter: brightness(0.7);
    }
}


.required-note {
    position: absolute;
    font-size: 12px;
    left: 50px;
    color: $default-lightblue;
    width: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .asterisk {
        font-size: 16px;
        color: $default-white;
    }
}

.difficulty-radio {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 30px;
    margin-bottom: 15px;

    input {
        border: 0px;
    }

    div {
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;

        label {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }
}

.delete-problem.button {
    position: absolute;
    background-color: $default-black;
    width: 100px;
    left: 30px;
    bottom: 10px;
    outline: 0;
    border: 0;

    &:hover {
        filter: brightness(0.7);
    }
}

p.problems-errors{
    color: $default-lightblue;
    font-size: $error-font-size;
    margin-top: -5px;
    margin-bottom: 5px;
}