@import '../variables.scss';

.problem-item-container {
    height: 100%;
    width: calc(100% - 300px);
    margin-left: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.problem-item-header {
    margin-top: 20px;
    height: 35%;
    width: 85%;
    color: $default-white;
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
 
    .problem-item-text {
        width: 40%;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }

    .problem-item-info {
        margin-left: 3px;
    }

    .problem-item-title {
        font-size: $logo-font-size;
        font-weight: $logo-font-weight;
        font-family: $logo-font;
        margin-bottom: 20px;

        display: flex;
        flex-direction: row;

        > div {
            margin-right: 20px;
        }
    }
}

.problem-difficulty {
    font-size: 12px;
    background-color: $default-lightblue;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 24px;
}

.ide-container {
    height: 65%;
    width: 100%;
    background-color: $default-lightblue;

    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.problem-testcases {
    height: 100%;
    width: 40%;
    margin-left: 50px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.testcase-content {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: $button-border-radius;
    background-color: $default-lightestgray;
}

.testcase {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    letter-spacing: 1px;

    h1 {
        font-weight: $bold;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.testcase-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    margin-left: 15px;

    h2 {
        margin-right: 10px;
        font-weight: $medium;
    }
}

.back-to-problems {
    position: relative;
    height: 20px;
    filter: invert(100);
    width: 20px;
    cursor: pointer;

    &:hover {
        filter: invert(72%) sepia(61%) saturate(11%) hue-rotate(32deg) brightness(104%) contrast(94%);
    }
}
