@import '../variables.scss';

.websocket-container {
    height: 100%;

    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 5;
}

.websocket.logged-in-nav-container {
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
}

.websocket.logged-in-nav-header {
    height: 15%;
}

.chat-container {
    height: 90%;
}

.messages {
    overflow: scroll;
    height: 400px;
    width: 90%;
    border-radius: $button-border-radius;
    border: 2px solid $default-lightblue;
    background: $default-lightestgray;
    color: $default-white;
    font-size: 14px;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messages::-webkit-scrollbar{
    display: none;
}

.messages-text {
    overflow: scroll;
    width: 90%;
    height: 90%;
    word-wrap: break-word;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messages-text::-webkit-scrollbar {
    display: none;
}

.message-form {
    height: 20%;
    width: 100%;

    .message-input {
        width: 90%;
        color: $default-lightgray;
    }

    button {
        background-color: $default-white;
        position: absolute;
        margin-top: 5px;
        margin-left: 290px;
        width: 30px;
        
        img {
            height: 20px;
            filter: invert(85%) sepia(34%) saturate(6164%) hue-rotate(189deg) brightness(106%) contrast(94%);
        }

    }
}


.chat-line {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    .chat-user {
        color: $default-lightblue;
        font-weight: $medium;
        width: 60px;
        margin-right: 5px;
        
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .chat-message {
        width: 200px;
        word-wrap: break-word;
        cursor: default;
    }

}

.chat-log {
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin: 5px;
    font-style: italic;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .chat-blue {
        color: $default-lightblue;
        margin-right: 7px;
    }

    div {
        color: $default-black;
    }
}

.bottom-of-div {
    height: 1px;
    width: 100%;
}

.chat-timestamp {
    margin-top: 16px;
    margin-left: 43px;
    position: absolute;
    width: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: none;
    background-color: $default-black;
    color: $default-white;
    text-align: center;
    border-radius: $button-border-radius;
    z-index: 2;
    font-size: 12px;
}

.chat-timestamp:after {
    content:'';
    position: absolute;
    margin-left: -40px;
    margin-top: -12px;
    rotate: (180deg);
    width: 0;
    height: 0;
    border-top: solid 10px $default-black;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}

.chat-message:hover + .chat-timestamp {
    display: block;
}