@import '../variables.scss';


.ide {
    margin-left: 80px;
    width: 90%;
    height: 30%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .ide-extras {
        margin-left: 50px;
        width: 40%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
    }

    .ide-result {
        width: 80%;
        height: 200px;
        background-color: $default-white;
        box-shadow: $box-shadow;
        color: $default-lightgray;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        > div {
            width: 90%;
            height: 90%;
            text-align: center;
            font-size: 15px;
            color: $default-lightestgray;
            font-weight: $medium;
            letter-spacing: 0.5px;
            
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }

    .run.button, .save.button{
        background-color: $default-lightestgray;
        outline: 0;
        border: 0;
        width: 60%;
        height: 60px;
        color: $default-white;
        font-size: 20px;
        font-weight: $bold;
        box-shadow: $box-shadow;

        &:hover {
            filter: brightness(0.7)
        }
    }

}
.ide-editor {
    height: 90%;
    width: 60%;
    
    section {
        border-radius: $div-border-radius;
        height: 100%;
        width: 100%;
    }
}

