@import '../variables.scss';

.splash-container {
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    scroll-behavior: smooth;

    section {
        color: $default-white;
        scroll-snap-align: start;
        width: 100%;
        height: 100vh; 

        > div {
            height: 100%;
            width: 100%;
        }
    }
}

.splash-second-page .splash-instructions-left{
    background-color: $default-blue;
}

.splash-third-page .splash-instructions-right {
    background-color: $default-lightblue;
}

.splash-fourth-page .splash-instructions-left {
    background-color: $default-white;
}


.splash-instructions-left, .splash-instructions-right {
    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.splash-second-page h1 {
    color: $default-blue
}

.splash-third-page h1 {
    color: $default-lightblue;
}

.splash-text {
    width: 200px;

    h1 {
        font-weight: $logo-font-weight;
        font-size: 30px;
        margin-bottom: 20px;
        width: 300px;
    }
}

.splash-second-page, .splash-third-page, .splash-third-page, .splash-fourth-page {
    display: flex; 
    flex-direction: row;
}

@keyframes slide-in-left {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    
    10% {
        transform: translateX(200px);
        opacity: 0;
    }
    
    20% {
        transform: translateX(0px);
        opacity: 1;
    }
  
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
